/**********GENERALS**********/

body {
  background-color: $bg;
  color:$font;
  font-family: $opens;
  line-height: 1.65;
  font-size: .9rem;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: .35em;
  display: block;
}

section {
  padding-top: em(40);
  padding-bottom: em(14);
}

.section-title {
  font-size: 1.3em;
  font-family: $slab;
  color: $font-bold;
  display: inline-block;
  padding-right: em(15);
  padding-bottom: em(10);
  margin-bottom: em(40);
  border-bottom: 3px solid $red;
}

.title {
  color: $font-bold;
  margin-bottom: 1em;
  font-family: $slab;
  font-size: 1.1em;
}

.text {
  margin-bottom: 2em;
  font-size: .9em;
  line-height: em(22);
}
.btn {
  display: inline-block;
  height: 4em;
  font-size: 0.8em;
  font-family: $slab;
  font-weight: 700;
  color: $red;
  border: 2px solid $red;
  border-radius: .35em;
  padding: 0 em(32);
  margin-bottom: em(26.5);
  cursor: pointer;
  &:hover {
    background-color: $hover-btn;
  }
}
/**********HEADER**********/
#header {
  @include wrapper();
  height: 7em;
  padding-bottom: 0.7em;
  border-bottom: 5px solid $red;
  display: flex;
  justify-content: space-between;
  font-size: 1.2em;
  .logo {
    align-self: flex-end;
    font-family: $slab;
    &:hover {
      color: $red;
    }
    strong {
      color: $font-bold;
    }
  }
}
.nav-social{
  align-self: flex-start;
  li{
    display: inline-block;
    a{
      display: block;
      padding: 0.4em;
      margin-top: 1em;
      &:hover{
        color: $red;
      }
    }
  }
}

/**********BANNER**********/
#banner{
  @include wrapper();
  /*.flex-container {
    display: flex;
    flex-direction: column;
  }*/
}
.image-container{
  margin-bottom: em(40);
}
.banner-text-container {
  h1{
    color: $font-bold;
    font-size: 1.9em;
    font-family: $slab;
    margin-bottom: .1em;
  }
  span {
    display: inline-block;
    font-family: $slab;
    text-transform: uppercase;
    font-size: .9em;
    letter-spacing: .075em;
    margin-bottom: 1.7em;
  } 
}

/**********FEATURES**********/
#features {
  @include wrapper();
  border-top: 2px solid $border;

}
.feature {
  margin-bottom: em(40);
  span {
    color: $red;
    font-size: 1.4em;
    position: relative;
    display: inline-block;
    height: 5em;
    width: 5em;
    text-align: center;
    line-height: 5em;
    margin-bottom: em(20);
    &::after{
      content: '';
      display: inline-block;
      height: 3.3em;
      width: 3.3em;
      border: solid 2px $border;
      border-radius: .35em;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }
  .text {
    margin-bottom: 0;
  }
}

/**********PORTFOLIO**********/
#portfolio {
  @include wrapper();
  border-top: 2px solid $border;
  .post:not(:last-child) {
    margin-bottom: em(60);
    &::after {
      content: '';
      display: block;
      width: 100%;
      height: em(1);
      background-color: $border;
      position: relative;
      bottom: em(-30);
    }
  }
  .image-container {
    display: block;
    margin-bottom: em(26);
  }
  .btn {
    font-size: 0.6em;
    margin-bottom: 0;
  } 
}

/**********MEDIA QUERIES**********/

@media screen and (min-width: em(480)){

}

@media screen and (min-width: em(630)){
  
}

@media screen and (min-width: em(1680)){

  
}